body{
	font-family: 'Concert One', cursive;
}

input{
	font-family: 'Noticia Text', serif;
}

.img-login-slide-1 {
    filter:grayscale(100%);
    background-repeat:no-repeat;
    background-size:cover;
    height: auto;
    width: 100%;
}

.carousel-caption > p{
  width: 100%;
  background: rgba(13, 144, 30, 0.5803921568627451);
}
.carousel-caption > h3{
  width: 100%;
  margin-bottom: 0;
  background: rgba(13, 144, 30, 0.5803921568627451);
}

.btn-primary{
  background: #4CAF50;
  border: 1px solid #4CAF50;
}
.btn-primary:hover{
  background: #388E3C;
  border: 1px solid #388E3C;
}

.btn-success{
  background: #FFC107;
  border: 1px solid #FFC107;
}

.btn-success:hover{
  background: #eab106;
  border: 1px solid #eab106;
}

.btn-facebook {
	background: #3B5998;
    color: white;
	width : 100%;
	padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
	border-color: transparent;
}
.fa-facebook{
	background: #3B5998;
    color: white;
}

.btn-facebook:hover{
	background: #375086;
}

.btn-google {
	width : 100%;
	background: #dd4b39;
	color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
	border-color: transparent;
}

.fa-google {
	background: #dd4b39;
	color: white;
}

.btn-google:hover{
	background:#bf4232;
}