body{
    font-family: 'Concert One', cursive;
}

input{
    font-family: 'Noticia Text', serif;
}
#iframe-header{
    width: 100%;
    height: 5rem;
    border: 0px;
}
.img-login-slide-1 {
    filter:grayscale(100%);
    background-repeat:no-repeat;
    background-size:cover;
    height: auto;
    width: 100%;
}

.carousel-caption > p{
    width: 100%;
    background: rgba(13, 144, 30, 0.5803921568627451);
}
.carousel-caption > h3{
    width: 100%;
    margin-bottom: 0;
    background: rgba(13, 144, 30, 0.5803921568627451);
}

.btn-primary{
    background: #4CAF50;
    border: 1px solid #4CAF50;
}
.btn-primary:hover{
    background: #388E3C;
    border: 1px solid #388E3C;
}

.btn-success{
    background: #FFC107;
    border: 1px solid #FFC107;
}

.btn-success:hover{
    background: #eab106;
    border: 1px solid #eab106;
}

.btn-facebook {
    background: #3B5998;
    color: white;
    width : 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: transparent;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}

.btn-facebook:hover{
    background: #375086;
}

.btn-google {
    width : 100%;
    background: #dd4b39;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: transparent;
    height: 60px;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.btn-google:hover{
    background:#bf4232;
}

.col-centrada{
    float: none;
    margin: 0 auto;
}
.ui-dialog-titlebar {
    background: white;
    border: white;
    font-size: 12px;
}
.labelseleccion{
    font-size: 12px;
    font-weight: bolder;
}
.sorting_1{
    width: 10%;
}
.navbar:hover{
    background: #4CAF50;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}
.notificacion{
    display: block;
    position: absolute;
    padding: 9px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.class-badge{
    background: blue;
    height: auto;
    width: 20px;
    position: absolute;
    top: 20px;
    right: 0px;
    border-radius: 50%;
}
.dropdown-menu.show {
    display: block;
    padding: 15px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 20rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.input-text-search{
    width: 100% !important;
    right: 0px !important;
    margin: auto;
    position: absolute;
    padding: 7px;
}
.container{
    margin-top: 5%;
}
.contacts-chat{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 18px;
    padding: 16px;
    border: .5px solid #4daf50;
    margin: 10px;
}
#imagen{
    border-radius: 50%;
}
#datatableamigos_wrapper{
    width: 100%;
}
.label-output-message{
  background: #5bb962;
    padding: 10px;
    border-radius: 15px 15px 0;
    /* margin-right: 15px; */
    color: white;
}
.contact-header-chat{
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
  margin-right: 2rem;
  padding: 11px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #2c3136;
  border: 0.5px solid #5bb962;
}
.item-send-chat{
  padding: 10px;
  text-align: right;
}
.item-send-chat > span{
  padding: 6px;
  margin: 10px;
  background: #6bc275;
  color: white;
  border-radius: 10px 10px 0px;
}
.item-recevied-chat{
  padding: 10px;
  text-align: left;
}
.item-recevied-chat > span{
  padding: 6px;
  margin: 10px;
  background: #0044cc;
  color: white;
  border-radius: 10px 10px 10px 0px;
}
.box-send-message{
  padding: 10px;
  -webkit-box-shadow: 0px -13px 38px -28px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -13px 38px -28px rgba(0,0,0,0.75);
  box-shadow: 0px -13px 38px -28px rgba(0,0,0,0.75);
}
.open-button {
  background-color: #5bb962;
  color: #ffffff;
  padding: 9px 0px;
  border: none;
  cursor: pointer;
  /* opacity: 0.8; */
  position: fixed;
  bottom: 23px;
  left: 10px;
  border-radius: 10px;
  width: 10rem;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 5px;
    border: px solid #f1f1f1;
    z-index: 9;
    bottom: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(166,166,166,1);
    -moz-box-shadow: 0px 0px 13px 1px rgba(166,166,166,1);
    box-shadow: 0px 0px 13px 1px rgba(166,166,166,1);
}

/* Add styles to the form container */
.form-container {
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.recibido-chat{
  padding: 5px 15px;
  width: 100% !important;
  border-radius: 10px 10px 10px 0px;
  background: #4899fd;
  color: white !important;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}
.container-chat{
  width: 100%;
  height: auto;
  padding: 5px;
}
.enviado-chat{
  padding: 5px 15px;
  width: 100% !important;
  border-radius: 10px 10px 0px;
  background: #4daf50;
  color: white !important;
  text-align: right;
  margin-bottom: 0px;
    margin-top: 0px;
}
#viewMensajes{
  max-height: 200px;
  overflow-y: scroll;
  padding: 5px;
  border: 0.5px solid;
  margin: 11px 0px;
  border-color: #ced4da;
  border-radius: 5px;
}
