body{
    font-family: 'Concert One', cursive;
}

input{
    font-family: 'Noticia Text', serif;
}
#iframe-header{
  width: 100%;
    height: 5rem;
    border: 0px;
}
.img-login-slide-1 {
    filter:grayscale(100%);
    background-repeat:no-repeat;
    background-size:cover;
    height: auto;
    width: 100%;
}

.carousel-caption > p{
    width: 100%;
    background: rgba(13, 144, 30, 0.5803921568627451);
}
.carousel-caption > h3{
    width: 100%;
    margin-bottom: 0;
    background: rgba(13, 144, 30, 0.5803921568627451);
}

.btn-primary{
    background: #4CAF50;
    border: 1px solid #4CAF50;
}
.btn-primary:hover{
    background: #388E3C;
    border: 1px solid #388E3C;
}

.btn-success{
    background: #FFC107;
    border: 1px solid #FFC107;
}

.btn-success:hover{
    background: #eab106;
    border: 1px solid #eab106;
}

.btn-facebook {
    background: #3B5998;
    color: white;
    width : 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: transparent;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}

.btn-facebook:hover{
    background: #375086;
}

.btn-google {
    width : 100%;
    background: #dd4b39;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: transparent;
    height: 60px;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.btn-google:hover{
    background:#bf4232;
}

.col-centrada{
    float: none;
    margin: 0 auto;
}
.ui-dialog-titlebar {
    background: white;
    border: white;
    font-size: 12px;
}
.labelseleccion{
    font-size: 12px;
    font-weight: bolder;
}
.sorting_1{
    width: 10%;
}
.navbar:hover{
  background: #4CAF50;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}
.notificacion{
  display: block;
  position: absolute;
  padding: 9px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.class-badge{
  background: blue;
  height: auto;
  width: 20px;
  position: absolute;
  top: 20px;
  right: 0px;
  border-radius: 50%;
}
.dropdown-menu.show {
    display: block;
    padding: 15px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 20rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.input-text-search{
  width: 100% !important;
     right: 0px !important;
    margin: auto;
    position: absolute;
    padding: 7px;
}
.container{
      margin-top: 5%;
}
.contacts-chat{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 18px;
  padding: 16px;
  border: .5px solid #4daf50;
  margin: 10px;
}
